<div class="content-wrapper">
  <div class="content-block">
    <% (1..10).each do |i| %>
      <div class="content">
          <div class="user-about">
          <div class="image">
            <%= image_tag "user.jpeg" %>
          </div>
          <div class="profile">
            <div class="name-learning">
              <div class="name">
              name
              </div>
              <div class="learning">
              gakusyuureki
              </div>
            </div>
            <div class="purpose">
            tenndyoku
            </div>
          </div>
        </div>
        <div class="text">
          <p>ああああああああああああああああああああああああああああああああああああああああああ</p>
          <p>ああああああああああああああああああああああああああああああああああああああああ</p>
        </div>
        <div class="action-menu">
          <div class="like"></div>
          <div class="comment"></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sidebar">
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>
</div>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
